build
build/*
dist
dist/*
*.spec
.project
.pydevproject
.#*
*/#*#
*#
*/*/#*#
*/*~
*/*/*~
impro/__pycache__
*/.#*
impro/*.pyc
*~
*/*.pyc
*.swp
test_impro/GraphicUnitPlayerTest.py
vendor/GraphicUnitPlayer.py
vendor/resources/misc_sounds
vendor/resources/colors